body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
flex: 1 0 auto;
}

/* NavBar */
.nav-wrapper {
    background-color: #66A0DE;
}

/* Adjusts Height of Content */
.main-section {
    margin-top: 5%;
}

/* Size of Profile Pic */
.main-profile-pic {
    height: 300px;
}

/* Footer */
.page-footer {
    background-color: #66A0DE;
}