body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
flex: 1 0 auto;
}

/* Navbar Color*/
.nav-wrapper {
    background-color: #7fbbc7;
}

/* Navbar Text Size */
.navbarTitle {
    font-size: x-large;
}

/* Adjusts Height of Content */
.main-section {
    margin-top: 5%;
}

/* Size of Profile Pic */
.main-profile-pic {
    height: 300px;
}

/* Icon Formatting */
.contact-icons {
    background-color: #83B7DE;
    margin-right: 5px;
    height: 50px;
    width: 50px;
}

.contact-icons:hover {
    background-color: #2E3639;
}

.iconImage {
    position: relative;
    top: 4px;
}

/* Footer Color*/
.page-footer {
    background-color: #7fbbc7;
}